<div class="flex h-screen">
  <app-admin-sidebar></app-admin-sidebar>

  <main class="w-full p-8 bg-gray-100 max-h-screen overflow-y-scroll">
    <!-- Flatlist of Rejected Policies -->
    <div
      *ngFor="let rejectedPolicy of rejectedPolicies"
      class="mb-4 p-4 border rounded-md bg-white shadow-md"
    >
      <div class="flex items-center justify-between">
        <div>
          <h2 class="text-xl font-semibold text-red-600 mb-2">
            {{ rejectedPolicy.policyId.coverage_type }}
          </h2>
          <p class="text-gray-600 mb-2">
            <strong>Policy Id:</strong> {{ rejectedPolicy.policyId._id }}
          </p>
          <div class="flex flex-col">
            <div class="mr-4">
              <p class="text-gray-600">
                <strong>Claim Submission Date:</strong>
                {{ formatDate(rejectedPolicy.submittedDate) }}
              </p>
            </div>
            <div>
              <p class="text-gray-600">
                <strong>Rejected Date:</strong>
                {{ formatDate(rejectedPolicy.rejectedDate) }}
              </p>
            </div>
          </div>
        </div>
        <div class="text-right">
          <p class="text-gray-600 mb-2">
            <strong>Submitted By:</strong> {{ rejectedPolicy.fullName }}
          </p>
          <p class="text-gray-600">
            <strong>User ID:</strong> {{ rejectedPolicy.userId }}
          </p>
        </div>
      </div>
    </div>
  </main>
</div>
