<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md w-96">
    <div class="flex space-x-4 mb-4 w-full">
      <a
        routerLink="/"
        class="flex-1 bg-pink-500 cursor-pointer text-center py-1 font-semibold rounded text-white"
        >User Login</a
      >
      <a
        routerLink="/admin-login"
        class="flex-1 bg-gray-500 cursor-pointer text-center py-1 font-semibold rounded text-white"
        >Admin Login</a
      >
    </div>

    <div class="mb-6 text-center">
      <h2 class="text-2xl font-bold text-pink-500">ClaimSwift</h2>
    </div>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-600"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="mt-1 p-2 w-full border rounded-md"
          [(ngModel)]="user.email"
          required
          email
        />
        <div
          *ngIf="
            loginForm.controls['email'].invalid &&
            (loginForm.controls['email'].dirty ||
              loginForm.controls['email'].touched)
          "
          class="text-red-500 mt-1"
        >
          Invalid email address
        </div>
      </div>

      <div class="mb-4 relative">
        <label for="password" class="block text-sm font-medium text-gray-600"
          >Password</label
        >
        <input
          type="{{ passwordVisible ? 'text' : 'password' }}"
          id="password"
          name="password"
          class="mt-1 p-2 w-full border rounded-md pr-10"
          [(ngModel)]="user.password"
          required
          minlength="6"
        />
        <span
          (click)="togglePasswordVisibility()"
          class="absolute inset-y-0 right-0 top-6 flex items-center pr-3 cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
            <path
              fill-rule="evenodd"
              d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
        <div
          *ngIf="
            loginForm.controls['password'].invalid &&
            (loginForm.controls['password'].dirty ||
              loginForm.controls['password'].touched)
          "
          class="text-red-500 mt-1"
        >
          Password must be at least 6 characters long
        </div>
      </div>

      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="bg-pink-500 text-white px-4 py-2 rounded-md w-full mt-4"
      >
        Login
      </button>
    </form>

    <div class="mt-4 text-center space-x-3">
      <span class="text-gray-600">Don't have an account?</span>
      <a routerLink="/user-signup" class="text-pink-500">Sign Up</a>
    </div>
  </div>
</div>
