<div class="flex h-screen">
  <main class="w-full p-8 bg-gray-100 max-h-screen overflow-y-scroll">
    <!-- Back Button -->
    <a
      routerLink="/dashboard/admin/claim-review"
      class="text-pink-500 text-lg mb-4 block"
    >
      Back
    </a>

    <div class="mx-auto">
      <h2 class="text-4xl font-bold mb-4 text-pink-600">Claim Approval</h2>

      <div class="bg-white p-6 rounded-lg shadow-md mb-6">
        <h2 class="text-2xl font-bold mb-4 text-pink-600">
          Comprehensive Health Coverage
        </h2>
        <p class="text-gray-800 mb-4 text-xl">
          Get complete coverage for all your medical needs with our
          Comprehensive Health Insurance policy.
        </p>
        <div class="flex flex-wrap gap-2 mb-4">
          <span class="bg-pink-500 text-white px-2 py-1 rounded"
            >Hospitalization</span
          >
          <span class="bg-pink-500 text-white px-2 py-1 rounded"
            >Prescription Drugs</span
          >
          <span class="bg-pink-500 text-white px-2 py-1 rounded"
            >Preventive Care</span
          >
        </div>
        <div class="grid grid-cols-2 gap-2 text-2xl mt-5">
          <div>
            <strong class="text-pink-600">Deductible:</strong>
            <p class="text-gray-800">$500</p>
          </div>
          <div>
            <strong class="text-pink-600">Premium:</strong>
            <p class="text-gray-800">$150/Month</p>
          </div>
        </div>
      </div>

      <div class="flex-grow grid grid-cols-2 gap-8">
        <div class="mb-4">
          <label for="fullName" class="block text-xl font-medium text-gray-700">
            Full Name
          </label>
          <p class="text-gray-800">John Doe</p>
        </div>

        <div class="mb-4">
          <label for="email" class="block text-xl font-medium text-gray-700">
            Email Address
          </label>
          <p class="text-gray-800">john.doeexample.com</p>
        </div>

        <div class="mb-4">
          <label for="phone" class="block text-xl font-medium text-gray-700">
            Phone Number
          </label>
          <p class="text-gray-800">(555) 123-4567</p>
        </div>

        <div class="mb-4">
          <label for="address" class="block text-xl font-medium text-gray-700">
            Address
          </label>
          <p class="text-gray-800">123 Main St, Anytown, USA</p>
        </div>

        <div class="mb-4">
          <label for="dob" class="block text-xl font-medium text-gray-700">
            Date of Birth
          </label>
          <p class="text-gray-800">1985-05-20</p>
        </div>

        <div class="mb-4">
          <label for="ssn" class="block text-xl font-medium text-gray-700">
            Social Security Number
          </label>
          <p class="text-gray-800">XXX-XX-XXXX</p>
        </div>

        <div class="mb-4">
          <label for="gender" class="block text-xl font-medium text-gray-700">
            Gender
          </label>
          <p class="text-gray-800">Male</p>
        </div>

        <div class="mb-4">
          <label
            for="maritalStatus"
            class="block text-xl font-medium text-gray-700"
          >
            Marital Status
          </label>
          <p class="text-gray-800">Married</p>
        </div>

        <div class="mb-4">
          <label
            for="occupation"
            class="block text-xl font-medium text-gray-700"
          >
            Occupation
          </label>
          <p class="text-gray-800">Software Developer</p>
        </div>

        <div class="mb-4">
          <label
            for="annualIncome"
            class="block text-xl font-medium text-gray-700"
          >
            Annual Income
          </label>
          <p class="text-gray-800">$80,000</p>
        </div>

        <div class="mb-4">
          <label
            for="healthConditions"
            class="block text-xl font-medium text-gray-700"
          >
            Health Conditions
          </label>
          <p class="text-gray-800">None</p>
        </div>

        <div class="mb-4">
          <label
            for="documentUpload"
            class="block text-xl font-medium text-gray-700"
          >
            Document Upload
          </label>
          <p class="text-gray-800">insurance_document.pdf</p>
        </div>

        <div class="flex items-center space-x-6">
          <button type="submit" class="bg-green-500 text-white p-2 rounded-md">
            Approve Claim
          </button>
          <button
            type="button"
            class="bg-red-500 text-white p-2 rounded-md"
            (click)="showRejectPopup = true"
          >
            Reject Claim
          </button>
        </div>

        <!-- Rejection Popup -->
        <div
          *ngIf="showRejectPopup"
          class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center"
        >
          <div class="bg-white p-6 rounded-md shadow-md w-[30rem] h-[12rem]">
            <textarea
              [(ngModel)]="rejectionReason"
              class="border p-2 mb-4 h-[6rem] w-full focus:outline-none focus:border-pink-500"
              placeholder="Enter rejection reason"
            ></textarea>
            <div class="flex items-center justify-end">
              <button
                type="button"
                class="text-gray-700 hover:text-gray-900 px-4 py-2 rounded-md mr-2 transition duration-300 ease-in-out"
                (click)="showRejectPopup = false"
              >
                Cancel
              </button>
              <button
                type="button"
                class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition duration-300 ease-in-out"
                (click)="rejectClaim()"
              >
                Reject
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
