<div class="flex h-screen">
  <main class="w-full p-8 bg-gray-100 max-h-screen overflow-y-scroll">
    <!-- Back Button -->
    <a
      routerLink="/dashboard/admin/claim-review"
      class="text-pink-500 text-lg mb-4 block"
    >
      Back
    </a>

    <div class="mx-auto">
      <h2 class="text-4xl font-bold mb-4 text-pink-600">Claim Approval</h2>

      <div class="bg-white p-6 rounded-lg shadow-md mb-6">
        <h2 class="text-2xl font-bold mb-4 text-pink-600">
          {{ claim.policyId.coverage_type }}
        </h2>
        <p class="text-gray-800 mb-4 text-xl">
          {{ claim.policyId.information }}
        </p>
        <div class="grid grid-cols-2 gap-2 text-2xl mt-5">
          <div>
            <strong class="text-pink-600">Deductible:</strong>
            <p class="text-gray-800">{{ claim.policyId.deductible }}</p>
          </div>
          <div>
            <strong class="text-pink-600">Premium:</strong>
            <p class="text-gray-800">{{ claim.policyId.premium }}/Month</p>
          </div>
        </div>
      </div>

      <div class="flex-grow grid grid-cols-2 gap-8">
        <div class="mb-4">
          <label for="fullName" class="block text-xl font-medium text-gray-700">
            Full Name
          </label>
          <p class="text-gray-800">{{ claim.fullName }}</p>
        </div>

        <div class="mb-4">
          <label for="email" class="block text-xl font-medium text-gray-700">
            Email Address
          </label>
          <p class="text-gray-800">{{ claim.email }}</p>
        </div>

        <div class="mb-4">
          <label for="phone" class="block text-xl font-medium text-gray-700">
            Phone Number
          </label>
          <p class="text-gray-800">{{ claim.phoneNumber }}</p>
        </div>

        <div class="mb-4">
          <label for="address" class="block text-xl font-medium text-gray-700">
            Address
          </label>
          <p class="text-gray-800">{{ claim.address }}</p>
        </div>

        <div class="mb-4">
          <label for="dob" class="block text-xl font-medium text-gray-700">
            Date of Birth
          </label>
          <p class="text-gray-800">{{ formatDate(claim.dateOfBirth) }}</p>
        </div>

        <div class="mb-4">
          <label for="ssn" class="block text-xl font-medium text-gray-700">
            Date and Time Of Incident
          </label>
          <p class="text-gray-800">
            {{ formatDate(claim.dateTimeOfIncident) }}
          </p>
        </div>

        <div class="mb-4">
          <label for="ssn" class="block text-xl font-medium text-gray-700">
            Location Of Incident
          </label>
          <p class="text-gray-800">{{ claim.locationOfIncident }}</p>
        </div>

        <div class="mb-4">
          <label for="ssn" class="block text-xl font-medium text-gray-700">
            Police Report Number
          </label>
          <p class="text-gray-800">{{ claim.policeReportNumber }}</p>
        </div>

        <div class="mb-4">
          <label for="ssn" class="block text-xl font-medium text-gray-700">
            Witness Information
          </label>
          <p class="text-gray-800">{{ claim.witnessInformation }}</p>
        </div>

        <div class="mb-4">
          <label for="ssn" class="block text-xl font-medium text-gray-700">
            Other Party Information
          </label>
          <p class="text-gray-800">{{ claim.otherPartyInformation }}</p>
        </div>

        <div class="mb-4">
          <label for="ssn" class="block text-xl font-medium text-gray-700">
            Photo and Video Link
          </label>
          <a class="text-gray-800">{{ claim.photoOrVideoLink }}</a>
        </div>

        <div class="mb-4">
          <label for="ssn" class="block text-xl font-medium text-gray-700">
            Supporting Document
          </label>
          <a>{{ claim.supportingDocument }}</a>
        </div>

        <div class="mb-4">
          <label for="ssn" class="block text-xl font-medium text-gray-700">
            Bank Account Detail
          </label>
          <a class="text-gray-800">{{ claim.bankAccountDetail }}</a>
        </div>

        <div class="mb-4">
          <label for="ssn" class="block text-xl font-medium text-gray-700">
            Signature
          </label>
          <a class="text-gray-800">{{ claim.signature }}</a>
        </div>

        <div class="flex items-center space-x-6">
          <button
            type="submit"
            class="bg-green-500 text-white p-2 rounded-md"
            (click)="approveClaim(claim._id)"
          >
            Approve Claim
          </button>
          <button
            type="button"
            class="bg-red-500 text-white p-2 rounded-md"
            (click)="showRejectPopup = true"
          >
            Reject Claim
          </button>
        </div>

        <!-- Rejection Popup -->
        <div
          *ngIf="showRejectPopup"
          class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center"
        >
          <div class="bg-white p-6 rounded-md shadow-md w-[30rem] h-[12rem]">
            <textarea
              [(ngModel)]="rejectionReason"
              class="border p-2 mb-4 h-[6rem] w-full focus:outline-none focus:border-pink-500"
              placeholder="Enter rejection reason"
            ></textarea>
            <div class="flex items-center justify-end">
              <button
                type="button"
                class="text-gray-700 hover:text-gray-900 px-4 py-2 rounded-md mr-2 transition duration-300 ease-in-out"
                (click)="showRejectPopup = false"
              >
                Cancel
              </button>
              <button
                type="button"
                class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition duration-300 ease-in-out"
                (click)="rejectClaim(claim._id)"
              >
                Reject
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
