<div class="flex h-screen">
  <app-admin-sidebar></app-admin-sidebar>

  <main class="w-full p-8 bg-gray-100 max-h-screen overflow-y-scroll">
    <!-- Search Input for Users -->
    <!-- <div class="mb-6">
      <input
        type="text"
        class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        placeholder="Search Users"
      />
    </div> -->

    <!-- Flatlist of Users -->
    <div
      *ngFor="let user of users"
      class="mb-6 p-4 border rounded-md bg-white shadow-md"
    >
      <div class="flex items-center">
        <!-- User Image -->
        <img
          src="{{ user.profile_picture }}"
          alt="{{ user.firstName }} {{ user.lastName }}"
          class="w-16 h-16 rounded-full object-cover mr-4"
        />

        <!-- User Details -->
        <div>
          <h2 class="text-xl font-semibold">
            {{ user.firstName }} {{ user.lastName }}
          </h2>
          <p class="text-gray-600">User ID: {{ user._Id }}</p>
          <p class="text-gray-600">Email: {{ user.email }}</p>
          <p class="text-gray-600">Phone: {{ user.mobileNumber }}</p>
          <p class="text-gray-600">
            Joining Date: {{ formatDate(user.createdAt) }}
          </p>
        </div>

        <!-- Policies Information -->
        <div class="ml-auto text-right">
          <p class="text-gray-600 mb-2">
            Policies Bought: {{ user.boughtPolicies.length }}
          </p>
          <p class="text-gray-600 mb-2">
            Policies Claimed: {{ user.claimedPolicies.length }}
          </p>
        </div>
      </div>
    </div>
  </main>
</div>
