<div class="flex h-screen">
  <app-user-sidebar></app-user-sidebar>

  <main class="w-full p-8 bg-gray-100 max-h-screen overflow-y-scroll">
    <!-- <div class="mb-6">
      <input
        type="text"
        class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        placeholder="Search Purchased Policies"
      />
    </div> -->
    <div class="grid grid-cols-3 gap-8">
      <ng-container
        *ngFor="let policy of healthInsuranceData.slice().reverse()"
      >
        <app-single-policy-purchased-card
          [policy]="policy.policyId"
        ></app-single-policy-purchased-card>
      </ng-container>
    </div>
  </main>
</div>
