<div class="flex h-screen">
  <app-admin-sidebar></app-admin-sidebar>

  <!-- Main Content -->
  <main class="w-full p-8 bg-gray-100 overflow-y-scroll">
    <section class="shadow-lg rounded-lg p-3">
      <div class="flex justify-between mb-4">
        <h1 class="text-4xl font-bold text-pink-500">Policy Overview</h1>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <!-- Policies to Take Action On -->
        <div
          class="bg-gradient-to-r from-pink-100 to-pink-200 p-4 rounded shadow"
        >
          <h2 class="text-xl font-semibold mb-4">Policies to Take Action On</h2>
          <p class="text-3xl font-bold">{{ submittedPolicies.length }}</p>
          <!-- Replace with actual number -->
        </div>

        <!-- Claimed Policies -->
        <div
          class="bg-gradient-to-r from-green-100 to-green-200 p-4 rounded shadow"
        >
          <h2 class="text-xl font-semibold mb-4">Claimed Policies</h2>
          <p class="text-3xl font-bold">{{ claimedPolicies.length }}</p>
          <!-- Replace with actual number -->
        </div>

        <!-- Rejected Policies -->
        <div
          class="bg-gradient-to-r from-red-100 to-red-200 p-4 rounded shadow"
        >
          <h2 class="text-xl font-semibold mb-4">Rejected Policies</h2>
          <p class="text-3xl font-bold">{{ rejectedPolicies.length }}</p>
          <!-- Replace with actual number -->
        </div>

        <!-- Approved Policies -->
        <div
          class="bg-gradient-to-r from-blue-100 to-blue-200 p-4 rounded shadow"
        >
          <h2 class="text-xl font-semibold mb-4">Approved Policies</h2>
          <p class="text-3xl font-bold">{{ approvedPolicies.length }}</p>
          <!-- Replace with actual number -->
        </div>
      </div>
    </section>

    <section class="shadow-lg rounded-lg p-3 mt-10">
      <div>
        <h1 class="text-3xl font-bold text-pink-500">
          Policies Buy and Claim Information
        </h1>
      </div>

      <div class="grid grid-cols-2 gap-4 mt-5">
        <!-- Total Users Bought Policies Section -->

        <!-- Total Users on Application Section -->
        <div
          class="bg-gradient-to-r from-yellow-100 to-yellow-200 p-4 rounded shadow"
        >
          <h2 class="text-xl font-semibold mb-4">Total Users on Application</h2>
          <p class="text-3xl font-bold">{{ users.length }}</p>
          <!-- Replace with actual number -->
        </div>

        <div
          class="bg-gradient-to-r from-zinc-100 to-zinc-200 p-4 rounded shadow"
        >
          <h2 class="text-xl font-semibold mb-4">Total Claimed Policies</h2>
          <p class="text-3xl font-bold">{{ claimedPolicies.length }}</p>
          <!-- Replace with actual number -->
        </div>
      </div>
    </section>
  </main>
</div>
