<div class="flex h-screen">
  <main class="w-full p-8 bg-gray-100 max-h-screen overflow-y-scroll">
    <div class="mx-auto">
      <a
        routerLink="/dashboard/purchased-policies"
        class="text-pink-500 text-lg mb-4 block"
        >Back</a
      >

      <div class="bg-white p-6 rounded-lg shadow-md mb-6">
        <h2 class="text-4xl font-bold mb-4 text-pink-600">
          {{ selectedPolicy.coverage_type }}
        </h2>
        <p class="text-gray-600 mb-4 text-3xl">
          {{ selectedPolicy.information }}
        </p>
        <div class="flex flex-wrap gap-2 mb-4">
          <span
            *ngFor="let benefit of selectedPolicy.benefits"
            class="bg-pink-500 text-white px-2 py-1 rounded"
            >{{ benefit }}</span
          >
        </div>
        <div class="grid grid-cols-2 gap-2 text-2xl mt-5">
          <div>
            <strong class="text-pink-600">Deductible:</strong>
            <p class="text-gray-600">{{ selectedPolicy.deductible }}</p>
          </div>
          <div>
            <strong class="text-pink-600">Premium:</strong>
            <p class="text-gray-600">{{ selectedPolicy.premium }}/Month</p>
          </div>
        </div>
      </div>

      <!-- Insurance Claim Form -->
      <form class="flex-grow" (ngSubmit)="onSubmit($event)">
        <!-- Personal Information -->
        <div class="mb-4">
          <label for="fullName" class="block text-sm font-medium text-gray-700"
            >Full Name</label
          >
          <input
            type="text"
            id="fullName"
            name="fullName"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="formData.fullName"
          />
        </div>

        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email Address</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="formData.email"
          />
        </div>

        <div class="mb-4">
          <label
            for="phoneNumber"
            class="block text-sm font-medium text-gray-700"
            >Phone Number</label
          >
          <input
            type="tel"
            id="phoneNumber"
            name="phoneNumber"
            class="mt-1 p-2 w-full border rounded-md"
            placeholder="e.g., (555) 555-5555"
            [(ngModel)]="formData.phoneNumber"
          />
        </div>

        <div class="mb-4">
          <label for="address" class="block text-sm font-medium text-gray-700"
            >Address</label
          >
          <textarea
            id="address"
            name="address"
            class="mt-1 p-2 w-full border rounded-md"
            rows="3"
            [(ngModel)]="formData.address"
          ></textarea>
        </div>

        <div class="mb-4">
          <label
            for="dateOfBirth"
            class="block text-sm font-medium text-gray-700"
            >Date of Birth</label
          >
          <input
            type="date"
            id="dateOfBirth"
            name="dateOfBirth"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="formData.dateOfBirth"
          />
        </div>

        <!-- Incident/Claim Details -->
        <div class="mb-4">
          <label
            for="dateTimeOfIncident"
            class="block text-sm font-medium text-gray-700"
            >Date and Time of the Incident</label
          >
          <input
            type="datetime-local"
            id="dateTimeOfIncident"
            name="dateTimeOfIncident"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="formData.dateTimeOfIncident"
          />
        </div>

        <div class="mb-4">
          <label
            for="locationOfIncident"
            class="block text-sm font-medium text-gray-700"
            >Location of the Incident</label
          >
          <input
            type="text"
            id="locationOfIncident"
            name="locationOfIncident"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="formData.locationOfIncident"
          />
        </div>

        <div class="mb-4">
          <label
            for="policeReportNumber"
            class="block text-sm font-medium text-gray-700"
            >Police Report Number (if applicable)</label
          >
          <input
            type="text"
            id="policeReportNumber"
            name="policeReportNumber"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="formData.policeReportNumber"
          />
        </div>

        <div class="mb-4">
          <label
            for="witnessInformation"
            class="block text-sm font-medium text-gray-700"
            >Witness Information (if applicable)</label
          >
          <textarea
            id="witnessInformation"
            name="witnessInformation"
            class="mt-1 p-2 w-full border rounded-md"
            rows="3"
            [(ngModel)]="formData.witnessInformation"
          ></textarea>
        </div>

        <div class="mb-4">
          <label
            for="otherPartyInformation"
            class="block text-sm font-medium text-gray-700"
            >Other Party Involved Information (if applicable)</label
          >
          <textarea
            id="otherPartyInformation"
            name="otherPartyInformation"
            class="mt-1 p-2 w-full border rounded-md"
            rows="3"
            [(ngModel)]="formData.otherPartyInformation"
          ></textarea>
        </div>

        <div class="mb-4">
          <label
            for="photoOrVideoLink"
            class="block text-sm font-medium text-gray-700"
            >Photo or Video Link</label
          >
          <input
            type="file"
            id="photoOrVideoLink"
            name="photoOrVideoLink"
            class="mt-1 p-2 w-full border rounded-md"
            (change)="uploadPhoto($event)"
            [(ngModel)]="formData.photoOrVideoLink"
          />
        </div>

        <div class="mb-4">
          <label
            for="supportingDocument"
            class="block text-sm font-medium text-gray-700"
            >Supporting Document</label
          >
          <input
            type="file"
            id="supportingDocument"
            name="supportingDocument"
            class="mt-1 p-2 w-full border rounded-md"
            (change)="uploadSupportingDocument($event)"
            [(ngModel)]="formData.supportingDocument"
          />
        </div>

        <div class="mb-4">
          <label
            for="bankAccountDetail"
            class="block text-sm font-medium text-gray-700"
            >Bank Account Detail for Claim Payment (if applicable)</label
          >
          <input
            type="text"
            id="bankAccountDetail"
            name="bankAccountDetail"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="formData.bankAccountDetail"
          />
        </div>

        <div class="mb-4">
          <label for="signature" class="block text-sm font-medium text-gray-700"
            >Signature of the Claimant</label
          >
          <input
            type="text"
            id="signature"
            name="signature"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="formData.signature"
            required
          />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="bg-pink-600 text-white p-2 rounded-md">
          Submit Claim
        </button>
      </form>
    </div>
  </main>
</div>
