<div class="flex h-screen">
  <app-user-sidebar></app-user-sidebar>

  <main class="w-full p-8 bg-gray-100 max-h-screen overflow-y-scroll">
    <div class="space-y-4">
      <h2 class="text-2xl font-bold mb-4 text-pink-700">Notifications</h2>

      <div
        *ngFor="let notification of notifications"
        [ngClass]="{
          'bg-green-500': notification.status === 'success',
          'bg-red-500': notification.status === 'reject',
          'bg-blue-500': notification.status === 'info',
          'text-white': true,
          'p-4': true,
          rounded: true
        }"
      >
        <div class="font-semibold">
          {{ notification.message }}
        </div>
        <div class="text-sm">{{ notification.createdAt }}</div>
      </div>
    </div>
  </main>
</div>
